@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 60% 98%;
    --foreground: 240 10% 3.9%;
    --card: 120 60% 98%;
    --card-foreground: 240 10% 3.9%;
    --popover: 120 60% 98%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 120 27% 65%;
    --primary-foreground: 240 6% 10%;
    --secondary: 120 10% 90%;
    --secondary-foreground: 240 6% 10%;
    --muted: 120 10% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 25 69% 47%;
    --accent-foreground: 20 14.3% 95.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 85%;
    --input: 120 10% 85%;
    --ring: 120 27% 65%;
    --chart-1: 120 70% 50%;
    --chart-2: 173 58% 39%;
    --chart-3: 25 69% 47%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 5% 12%;
    --foreground: 0 0% 98%;
    --card: 240 5% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 120 27% 65%;
    --primary-foreground: 240 6% 10%;
    --secondary: 240 5% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 25 69% 55%;
    --accent-foreground: 20 14.3% 95.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 25%;
    --input: 240 5% 25%;
    --ring: 120 27% 65%;
    --chart-1: 120 70% 50%;
    --chart-2: 173 58% 39%;
    --chart-3: 25 69% 55%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
